body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(149, 220, 196);
    font-family: 'Times New Roman', Times, serif;
}

.navbar
{
    
    padding: 8px;
    background-color: rgb(149, 220, 196);
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lhs
{
    display: flex;
margin-left: 30px;
    
}

.lhs img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;

}

.lhs h1
{
    margin-left: 10px;
}

.rhs
{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.rhs a
{
    text-decoration: none;
    color: aliceblue;
}

.rhs a:hover
{
    color: rgb(209, 214, 217);
}

.secA
{
    display: flex;
    justify-content: space-between;
align-items: center;
background-color: aliceblue;
}

.abtLhs
{
    font-size: 30px;
margin-left: 50px;
}

.abtRhs img
{
    width: 500px;
    height: 450px;
    border-radius: 15%;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.secB{
    background-color: rgb(149, 220, 196);
    padding-top: 10px;
    padding-bottom: 20px;
   
}
.secB h1
{

    justify-self: center;
}

.secB li
{
    font-size: 20px;
    margin-left: 20px;
}

.itemsContainer
{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 20px;
}

.items img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0px auto 10px auto;
}


.secC
{
    background-color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
 
   
}
.secC h1
{
    margin-top: 10px;
    justify-self: center;
    
}

.contact
{

    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.cLhs{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.cLhs img
{

    width: 300px;
    height: 300px;
    border-radius: 12%;
}

.cRhs
{
display: flex;
flex-direction: column;
margin-top: 20px;
align-items: center;
margin-right: 180px;

}

.cRhs input[type="email"]
{

    width: 500px;
    padding: 10px;
    margin-bottom: 30px;
}

.cRhs textarea
{
    width: 500px;
}

.cRhs input[type="submit"]
{
    width: 500px;
    padding: 10px;
    margin-top: 30px;
}
footer
{
    background-color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}