body
{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Times New Roman', Times, serif;
}

.navbar
{
    
    padding: 8px;
    background-color: rgb(149, 220, 196);
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lhs
{
    display: flex;
margin-left: 30px;
    
}

.lhs img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;

}

.lhs h1
{
    margin-left: 10px;
}

.rhs
{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.rhs a
{
    text-decoration: none;
    color: aliceblue;
}

.rhs a:hover
{
    color: rgb(209, 214, 217);
}

.divC
{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#cartContainer
{
   margin-top: 20px;
   margin-bottom: 20px;
   gap: 20px;
 
}
