body
{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Times New Roman', Times, serif;
}

.navbar
{
    
    padding: 8px;
    background-color: rgb(149, 220, 196);
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lhs
{
    display: flex;
margin-left: 30px;
    
}

.lhs img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;

}

.lhs h1
{
    margin-left: 10px;
}

.rhs
{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.rhs a
{
    text-decoration: none;
    color: aliceblue;
}

.rhs a:hover
{
    color: rgb(209, 214, 217);
}


.container1
{

   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
 margin-bottom: 40px;
 


}

.secA h1
{
    justify-self: center;
    text-align: center;
    font-size: 20px;
}
.items
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 12%;
    padding-left: 10px;
    padding-right: 10px;
}
.items img
{

    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0px auto 10px auto;

}

.con2
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 30px;
}

.con2 h1
{
    font-size: 20px;
}

.con2 button
{
    
    background-color: rgb(149, 220, 196);
    padding: 10px;
    border-radius: 8%;
    margin-bottom: 20px;
}

footer p
{  
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 214, 188);
}

