*{
    margin: 0;
    border: border-box;
    font-family:Arial;
    /* background-color: E3E6E6; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;  
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    /* position: fixed; */
}
.nav-logo{
    height: 40px;
    width: 100px;
    padding-top: 15px;
    padding-left: 7px;
    padding-right: 5px; 
    
}
.logo{
    background-image: url('./img/kindpng_172246.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px ;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 2px;
    cursor: pointer;

}
.border:hover{
    border: 1.5px solid white;
}

.nav-address{
    margin-left: 3px;
    padding: 8px;
}
.address-icon{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
}
.nav-search:hover{
    border: 3px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.flag{
    height: 18px;
    width: 24px;
    background-image: url('./img/india.png');
    background-size: contain;
    background-repeat: no-repeat;
    

}
.nav-lang{
    display: flex; 
    padding-top: 18px;   
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.lang{
    font-size: 0.8rem;
    font-weight: 700;
    padding-left: 2px;
    padding-top: 2px;
}
span{
    font-size: 0.7rem;
}
.nav-signin-second,.nav-return-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin,.nav-return{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-cart i{
    font-size: 25px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 13px 10px 13px 10px;
}

.panel{
    height: 38px;
    background-color: #222f3d;
    display: flex;
    color: white;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    

}
.panel-all i{
    font-weight: 700;
    font-size: 1rem;
    padding: 5px 0px 5px 4px;
    
}
.panel-all span{
    font-weight: 700;
    font-size: 1rem;
    padding: 5px 4px 5px 0px;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    padding: 5px 4px 5px 4px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px 4px 5px 4px;
}
.main-img{
    background-image: url('img/main_img.jpg');
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 96vw;
    margin-bottom: 250px;
}
.main-msg a{
    color: #007185;
    cursor: pointer;
    padding-left: 2px;
}



/* .shop-section{
    display: flex; */
    /* position: relative; */
    /* background-color: #e3e7e6;
    justify-content: space-evenly;
} */
/* .box{
    height: 250px;
    width: 23%; */
    /* position: absolute; */
    /* background-color: white;
    padding: 20px 0px 15px; */
    /* border: 2px solid black; */
    /* margin-top: -100px; */
    /* margin-bottom: 20p; */
/* }
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    font-size: 0.85rem;
    color: #007185;
} */





/* .box1{
    top: -170px;
    left: 1rem;
}
.box2{
    top: -170px;
    left: 22rem;
}
.box3{
    top: -170px;
    left: 43rem;
}
.box4{
    top: -170px;
    left: 64rem;
    
} */

/* .main-container{
    position: relative;
}
 */

 





 /* Box Section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    /* width: 23%; */
    /* width: 320px; */
    width: 20rem;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: -150px;
}
.box-img{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1.3rem;
    margin-bottom:1rem;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    font-size: 0.85rem;
    cursor: pointer;
    padding-top: 1.1rem;
}

.box-1{
    height: 400px;
    /* width: 23%; */
    /* width: 320px; */
    width: 20rem;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: -10px;
}
.slider-img{
    background-color:#e2e7e6 ;
    display: flex;
    /* margin-bottom: -10px; */
    justify-content: space-evenly;
    /* margin-bottom: 20px  ; */
}
.main-container-img{
    background-color: white;
    width: 97%;
    height: 282px;
    
    
}

.main-container-img h2{
    padding-top: 15px;
    padding-left: 19px;
}

.img-main{
    display: inline-block;
    
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1.3rem;
    margin-bottom:1rem;
    padding: 0px 0 0 19px;
}
.foot-panel1{
    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size:  0.85rem;
    
}
.foot-panel2 p{
    font-size: 1rem;
    margin-top: 25px;
    font-weight: 700;
}
.foot-panel2 ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    margin-top: 10px;
    font-size:  0.8rem;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1px solid white;
}
.logo-1{
    background-image: url('./img/kindpng_172246.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    height: 30px ;
    width: 80px;
}

.foot-panel4{
    background-color: #131921;
    color: white;
    height: 100px;
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    
}
.pages a{
    text-decoration: none;
    color: white;
    padding-left: 9px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top:5px ;
}


.signin{
    
    height: 165px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main-signin{
    background-color:#e2e7e6 ;
    padding-top: 20px;
}
.person p{
    font-size: 0.75rem;
    padding-bottom: 5px;
}
.new p{
    font-size: 0.75rem;
    padding-top: 5px;
}
.new p a{
    text-decoration: none;
    color: #007185;
    padding-left: 2px;
}


.button{
    background-image: linear-gradient(#f7e8c3, #F0C14B);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 0.8rem;
    
    cursor: pointer;
    padding: 0.35rem 5rem;
   
    font-weight:500;

}